%col {
    float: left;
}

// Placeholder selector
%transition {
    transition: background .35s ease;
}


//placeholder for dashboardfiltericons
%dashboardfiltericons {
    position: relative;
    top: 0px;
    margin-right: 10px;
}
