//colors

$primary-blue: rgb(68, 89, 120);
$secondary-blue: rgb(100, 121, 152);
$orange: rgb(247, 141, 31);
$grey: rgb(242, 242, 242);
$lt-grey: rgb(250, 250, 250);
$footer-grey:rgb(240, 240, 240);


//grid settings

$grid-columns:14;
$maxWidth: 1920px;
$gutter-width: 1.6%;
